
@font-face {
    font-family: Martian Mono;
    src: url(fonts/MartianMono.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(fonts/RubikMonoOne-Regular.ttf)

}


#title{
    font-family: Rubik;
    font-size: 40px;
    color:rgb(188, 224, 255);
}

#page_selection{
    position: absolute;
    right:50px;
}

.pageselect{
    font-family: Martian Mono;
    font-size: 30px;
    color: rgb(188, 224, 255);
    background: transparent;
    border: 3px rgb(188, 224, 255);
}

.pageselect:hover{
    background-color: rgb(188, 224, 255);
    color: rgb(19, 1, 61);
    border-radius: 20px;
}
body{
    background-color: rgb(19, 1, 61);
}

#introduction{
    font-family: Martian Mono;
    margin: 2.5%;
    max-width:900px;
    padding: 2.5%;
    background-color: rgb(188, 224, 255);
    border-radius: 30px;
    height: auto;
    font-size: 18px;
    
}

.introbit{
    display: flex;
    width:auto;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    margin-top: 50px;
    height:420px;
}

#basin{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.image {
    height: 347px;
    padding: 2.5%;
}

#image{
    max-height: 100%;
    border-radius: 30px;
}

#quote{
    text-align:center;
    margin-top: 50px;
    margin-left:auto;
    margin-right: auto;
    border: 10px aliceblue;
    max-width: 900px;
    font-family: Rubik;
    color:rgb(188, 224, 255);
}